!!!
html
	head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# lightmytree: http://ogp.me/ns/fb/lightmytree#")
		title= title
		meta(name='description', content='')
		meta(name='author', content='Luke Plaster, notatestuser@gmail.com')

		- if openGraphObject
			- each prop in openGraphObject
				meta(property='#{prop.prefix}:#{prop.property}', content='#{prop:content}')

		//- meta(property='og:type', content='lightmytree:tree')
		//- meta(property='og:description', content='entry.content')
		//- meta(property='og:title', content='#{entry.title}')
		//- meta(property='og:image', content='#{protocol}://#{site}#{fb_image}')
		//- meta(property='og:type', content='article')
		//- meta(property='og:url', content='#{protocol}://#{site}#{entry.get_absolute_url()}')
		//- meta(property='og:site_name', content='LightMyTree')

		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(width='device-width', initial-scale=1.0)
		meta(name='viewport', content='width=device-width')

		link(rel='stylesheet', href='/css/app.css')
	body
		//if lt IE 8
			center(style='clear: both; height: 59px; padding: 0 0 0 15px; position: relative;')
				a(href='http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode')
					img(src='http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg', border='0', height='42', width='820', alt='You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.')

		!= body

		//- 404 modal content
		#modal-404.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='modal404', aria-hidden='true')
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h3 Nothing to see here...
			.modal-body
				p
					| You have requested a page that doesn't seem to exist within the site,
					| so we've taken you back to the home page. Apologies!
			.modal-footer
				button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Okay, let's go home

		//- all systems go
		script(data-main='/js/config', src='/js/libs/require.js')
